<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/starter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Edwin Dixon Resume</title>
  </head>
  <style>
    .bg-secondary {
      background-color: #e04367 !important
    }

    .text-muted {
      color: black !important
    }

    body {
      background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url('./assets/images/76.jpg');
      /* background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg'); */
      height: 100vh;
      background-repeat:no-repeat;
      background-attachment: fixed;
      color: white;
      background-color: rgba(10, 68, 226, 0.527);
    }

    .just { 
      /* width: 64rem; */
      text-align: justify;
    } 
    
    footer {
      padding: 10px;
    }

    a {outline : none;}

  a:hover{
    text-decoration: none;
  }

    
  </style>
  
  <body>

    <div class="container">
      <div class="row">
        <!-- <div class="col-1"></div> -->
        <div class="col text-right">
          <div class="row">
  
            <!-- <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light" data-type="HORIZONTAL" data-vanity="edwindixon99" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://nz.linkedin.com/in/edwindixon99?trk=profile-badge"></a></div> -->
            <div class="col-6"></div>
            <div class="col-2">
              <a href="https://www.linkedin.com/in/edwindixon99/"><img src="assets/images/4102586_applications_linkedin_social_social media_icon.png" class="img-fluid"></a>
            </div>
            <div class="col-2">
              <a href="https://play.google.com/store/apps/developer?id=EJD+Ltd."><img src="assets/images/4519086_google_play_icon (3).png" class="img-fluid"></a>
            </div>
            <div class="col-2">
              <a href="https://github.com/edwindixon99"><img src="assets/images/2561442_github_icon.png" class="img-fluid"></a>
            </div>
          </div>
          <div >edwindixon6@gmail.com</div>
        
          <div>Christchurch, New Zealand</div>

      </div>
      <div class="row"></div>
        <h1>Edwin Dixon</h1>
        <h2><small class="text-muted">Computer Science Graduate</small></h2>
      </div>
      <div class="row"><div class="just"><p>I am a graduate with a passion for software development excited to pursue a career where I can put my skills to use in an industry setting. I am a team player that wants to join a great team of people and play a part in exciting endeavors while learning and experiencing as much as possible.</p></div></div>
    </div>
</div>


  <!-- <occupation place="hi" location="skdlfj" date="sdf" image="dsafj"></occupation> -->
  <div id="components-demo">
  <h3 class='sec-heading my-5 text-center g-5'>EDUCATION</h3>
  <div class="container">

    <div class="row">

      <!-- <div class="col"> -->
        <div class="card">
          <img class="card-img-top img-fluid" src="https://www.canterbury.ac.nz/style-guide/logos/logo-tabs/eps/UCRed_RGB_LAN-THUMBNAIL-ONLY.jpg" class="img-fluid" alt="Card image cap">
          <div class="card-body" style="color:black">
            <div class="container">
              <div class='row card-header'>
                  <h4>Bachelor of Science (BSC) Computer Science</h4>
              <!-- </div> -->
              <!-- <div class='row'> -->
                  <p class='subtitle'>University of Canterbury</p>
              
              <div class='row'>
                  <div class='col'><p class='text-muted'>02/2018 - 07/2021</p></div>
                  <div class='col'><p class='text-muted'>Christchurch, New Zealand</p></div>
              </div>
            </div>
              <div class='row'>
                  <p class='text-muted'>Notable Courses</p>
              </div>
              <div class='row'>
                <div class='col-md-6'>
                      <li>Data and Network Security</li>
                      <li>Internet Technology and Engineering</li>
                      <li>Human Computer Interaction</li>
                </div>
                <div class='col-md-6'>
                      <li>Computer Graphics</li>
                      <li>Artificial Intelligence</li>
                    </div>
                
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
          <!-- <div class="col"> -->
              <occupation title='NCEA Level 1-3' place="Riccarton High School" location="Christchurch, New Zealand" date="02/2013 - 11/2017" imgsize="35" image="https://d2u4q3iydaupsp.cloudfront.net/GTjwxZduoclugHPB7MGGXN3mHrIzZE2g4nuH5B6jiEbrC8DJduFRbFU58D5O0sHBKER3GmEP8H3Tb4n3IXqvKNVY4VliUTNccimJnLJ9UUqiKetyGpEPnGBxFKww56pt"></occupation>
          </div>
    </div>
      
      
    <h3 class='sec-heading my-5 text-center'>VOLUNTEER EXPERIENCE</h3>
    <div class=container>
      <div class="row">
          <occupation 
          title='Basketball Coach' 
          place="Riccarton High School" 
          location="Christchurch, New Zealand" 
          date="2016 - 2017" 
          :desc="['Coached two teams of 13-14 year old boys many of whom many had no prior basketball experience', 'Allowed me to apply my communication skills to guide my team throughout their development']">
        </occupation>
      </div>
    
      <div class="row">
        <occupation 
        title='Flag Bearer' 
        place="ICC Cricket World Cup" 
        location="Christchurch, New Zealand" 
        date="2015" 
        :desc="['I was lucky enough to be given the opportunity display flags for three countries during their national anthems before matches of the world cup']">
        </occupation>
      </div>
    </div>

              


      
      
          <h3 class='sec-heading my-5 text-center'>PROJECTS</h3>
          <div class=container>
            <a href="https://kiribatitranslate.com" target="_blank">
              <div class="row">
                
                
                  
                  <occupation 
                  title='kiribatitranslate.com' 
                  date="09/2021 - Present" 
                  :desc="[
                  'A project I started in order to learn Reactjs which turned into a application that allow users to get translations as well as refine the translation database',
                  'Makes requests to an API server I developed running on an AWS EC2 instance',
                  'Deployed on AWS using AWS Amplify and I continue to develop it along with the API'
                  
                  ]"></occupation>
                
              </div>
            </a>

              <a href="https://github.com/edwindixon99/Kiribati-Phrase-API" target="_blank">
                  <div class="row">
                    
                    
                      
                      <occupation 
                      title='Kiribati Translation API' 
                      date="09/2021 - Present" 
                      :desc="[
                      'Made using Expressjs',
                      'Built a MYSQL database which includes tables storing data for translations, users and voting',
                      'Deployed server on an AWS EC2 instance using CodePipeline, Elastic Beanstalk and hosting database on AWS using RDS',
                      ]"></occupation>
                    
                    </div>
                  </a>

          <a href="https://play.google.com/store/apps/details?id=com.ejd.kiribatitranslate" target="_blank">
          <div class="row">
            
            
              
              <occupation 
              title='Kiribati Translation Android App' 
              date="11/2020 - 08/2021" 
              :desc="[
              'Learned the basics of Android Studio and refined my Java and SQL skills',
              'Released app to google play store in July 2021 and in the future plan to update it to become a React Native app'
              ]"></occupation>
            
            </div>
            </a>

            <a href="https://github.com/edwindixon99/SENG365-Web-Computing-Architectures" target="_blank">
            <div class="row">
              
              <occupation 
              title='Petition Website'
              date="03/2020 - 05/2020" 
              :desc="[
              'Academic project where I build a web application learned and gained experience with JavaScript, Node.JS, HTML and Vue.JS'
              ]"></occupation>
              
            </div>
          </a>
          <a href="https://github.com/edwindixon99/SENG365-Web-Computing-Architectures" target="_blank">
            <div class="row">
              
              <occupation 
              title='Routing Information Protocol'
              date="03/2020 - 05/2020" 
              :desc="[
              'Worked with a partner to fully implement a working version of the protocol in Python'
              ]"></occupation>
              
            
          
 
          </div>
          </a>
          <div class="row">
              
              <a href="https://github.com/edwindixon99" target="_blank" type="button" class="btn btn-primary btn-lg btn-block" ><h1>More Projects <i class="fa fa-github"></i></h1><a>
          </div>
        </div>
      


    </div>
    <div id="app">
      <div class='container '>
          <h3 class='sec-heading my-5 text-center '>TECHNICAL SKILLS</h3>
          <div class="col-12"><h5>
            <span v-for="skill in skills" class="badge bg-secondary ms-1">{{ skill.text }}</span>
          </h3>
        </div>
  
      </div>
  
      <!-- <div class='container'>
          <div>
            <h3 class='sec-heading my-5 text-center'>SKILLS</h3>
              <p class='subtitle'>Work Ethic</p>
              <p>I am a determined individual that knows my strengths and weaknesses and how to overcome these
                  to work effectively. I like to push myself and spend time completing tasks as I gain immense
                  satisfaction from finishing projects.</p>
          </div>
          <div>
              <p class='subtitle'>Teamwork Skills</p>
              <p>Have worked in groups sizes ranging from two to five members for course projects which have
                  required designing and building software. I also played sports competitively and know how to be a
                  team player.</p>
          </div>
          <div>
              <p class='subtitle'>Self-Management Skills</p>
              <p>Have worked on non-academic projects in my spare time which required me to self-teach and
                  manage my time in order to complete.</p>
          </div>
  
          <div>
              <p class='subtitle'>Communication skills</p>
              <p>Worked with various people on various academic projects where communication was crucial to
                  completing projects in good time. Written several reports during my time at university mainly
                  associated with project work.</p>
          </div>
  
      </div> -->
  

      <div class='container'>
          <h3 class='sec-heading my-5 text-center'>INTERESTS</h3>
          <div class="col-12"><h5 >
            <span v-for="interest in interests" class="badge bg-secondary ms-1">{{ interest.text }}</span>
          </h5>
          </div>
  
      </div>
    </div>
    

  
  
    
    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script type="module" src="assets/js/starter.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
  </body>
  <footer>
    

<!-- <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light" data-type="HORIZONTAL" data-vanity="edwindixon99" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://nz.linkedin.com/in/edwindixon99?trk=profile-badge"></a></div> -->
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>

  Vue.component('occupation', {
    // camelCase in JavaScript
    props: ['title', 'image', 'occupation', 'location', 'date', 'place', 'desc', 'image'],
    template: `<div class="card">
            <div style="text-align: center;">
              <img class="card-img-top img-fluid" :src=image style="width:35%; position: center;" alt="">
            </div>
          <div class="card-body" style="color:black">
            <div class="container">
              <div class='row card-header'>
                  <h4>{{ title }}</h4>

                  <p class='subtitle'>{{ place }}</p>
              
              <div class='row'>
                  <div class='col'><p class='text-muted'>{{ date }}</p></div>
                  <div class='col'><p class='text-muted'>{{ location }}</p></div>
              </div>
            </div>
              <div class='row'>
                <li v-for="text in desc">{{ text }}</li>
            </div>
          </div>
        </div>
        </div>
        `
  })
 

new Vue({ el: '#components-demo' })


  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!',
      skills: [
        { text:  'Python' },
        { text:  'SQL' },
        { text:  'C' },
        { text:  'C++' },
        { text:  'JavaScript' },
        { text:  'Java' },
        { text:  'HTML' },
        { text:  'Prolog' },
        { text:  'Apache Spark' },
        { text:  'Android Studio' },
        { text:  'OpenGL' },
        { text:  'CPLEX' },
        { text:  'Vue.JS' },
        { text:  'Git' },
        { text:  'Node.JS' },
        { text:  'AWS' },
        { text:  'ReactJs' },
        { text:  'CSS' },
        { text:  'ExpressJs' },
    ],

    interests: [
    { text:  'Basketball' },
    { text:  'NBA' },
    { text:  'Fitness' },
    { text:  'Technology' },
    { text:  'Travel' },
    { text:  'Video Games' },
    { text:  'Films' },
    { text:  'Sports' },
    { text:  'Sustainability' },
    { text:  'Volleyball' }
    ]

    }
  })
  </script>
</html>
